@import '../../utils/globals.scss';

.Project {
    margin: 0 20px;
    padding: 30px;

    .Content {
        background-color: #fff;
        border-radius: 40pt;
        padding: 75px 20px 20px 20px;
        transition: all .5s ease;
        color: #000;
        position: relative;
        box-shadow: 0px 30px 0px #364F62;

        .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        .description {
            margin-bottom: 0;
            word-break: break-word;
            text-align: center;
        }

        .btn {
            width: 100%;
            color: #fff;
            border-radius: 20px;
            font-weight: bold;
            padding: 15px;
            margin-top: 40px;
        }
    }

    @media only screen and (max-width: 1400px) {
        margin: 0 15px;
    }

    @media only screen and (max-width: 480px) {
        padding: 30px 0;
    }
}