@import '../../utils/globals.scss';

.Project {
    border-radius: 40pt;
    padding: 30px 0;
    margin: 0 60px;
    position: relative;

    .Content {
        background-color: #fff;
        border-radius: 40pt;
        padding: 70px 20px 50px;
        transition: all .5s ease;
        color: #000;
        position: relative;

        .flag {
            width: 70px;
            height: 70px;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 0 40pt 0 40pt;
            color: #fff;
            
            &.dev {
                background-color: #FF4040;

                &:before {
                    content: 'DEV';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: bold;
                    font-size: 14px;
                }
            }

            &.done {
                background-color: $color-primary;

                &:before {
                    content: '\2713';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(15deg);
                    font-weight: bold;
                    font-size: 22px;
                }
            }
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        .description {
            margin-bottom: 30px;
        }

        .github {
            width: 100%;
            background-color: $color-background;
            color: #fff;
            border-radius: 20px;
            font-weight: bold;
            padding: 15px;
        }
    }

    &:hover {
        .Content {
            transform: translateY(30px);
        }
        
        .PreviewButton {
            opacity: 1;
            animation: blink .3s ease .3s;
        }
    }

    .PreviewButton {
        position: absolute;
        left: 50%;
        top: 15px;
        transform: translateX(-50%);
        opacity: 0;
        transition: all .5s ease;
        padding: 0;
    }

    @media only screen and (max-width: 1400px) {
        .Content {
            padding: 30px 20px;
        }
    }

    @media only screen and (max-width: 1400px) {
        margin: 0 15px;
    }
}

@keyframes blink {
    0%, 100% {
        transform: translateX(-50%) scaleY(1);
    }

    50% {
        transform: translateX(-50%) scaleY(0);
    }
}